<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phase2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,94}</string>
                <key>spriteSourceSize</key>
                <string>{147,94}</string>
                <key>textureRect</key>
                <string>{{0,0},{147,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phase22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,94}</string>
                <key>spriteSourceSize</key>
                <string>{156,94}</string>
                <key>textureRect</key>
                <string>{{147,0},{156,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phase23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,94}</string>
                <key>spriteSourceSize</key>
                <string>{152,94}</string>
                <key>textureRect</key>
                <string>{{303,0},{152,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet2.png</string>
            <key>size</key>
            <string>{455,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6113e851c32ee15fb05df8474b8e0e8:309e39b975d966a720382fe82a6d3109:00dfcbd8e0fb04db7cf6aa7f65c0da0b$</string>
            <key>textureFileName</key>
            <string>spritesheet2.png</string>
        </dict>
    </dict>
</plist>
